[submodule "machine/public-endpoint"]
	path = machine/public-endpoint
	url = https://github.com/vanderbilt-design-studio/public-endpoint
[submodule "machine/poller-pi"]
	path = machine/poller-pi
	url = https://github.com/vanderbilt-design-studio/poller-pi
[submodule "output/sign"]
	path = output/sign
	url = git@github.com:vanderbilt-design-studio/sign.git
[submodule "output/site-overrides"]
	path = output/site-overrides
	url = git@github.com:vanderbilt-design-studio/site-overrides.git
[submodule "output/driver-pi"]
	path = output/driver-pi
	url = git@github.com:vanderbilt-design-studio/driver-pi.git
