[submodule "machine/public-endpoint"]
	path = machine/public-endpoint
	url = git@github.com:vanderbilt-design-studio/public-endpoint.git
	branch = master
[submodule "machine/poller-pi"]
	path = machine/poller-pi
	url = git@github.com:vanderbilt-design-studio/poller-pi.git
	branch = master
[submodule "output/sign"]
	path = output/sign
	url = git@github.com:vanderbilt-design-studio/sign.git
	branch = master
[submodule "output/site-overrides"]
	path = output/site-overrides
	url = git@github.com:vanderbilt-design-studio/site-overrides.git
	branch = master
[submodule "output/driver-pi"]
	path = output/driver-pi
	url = git@github.com:vanderbilt-design-studio/driver-pi.git
	branch = master
[submodule "input/python-ultimaker-printer-api"]
	path = input/python-ultimaker-printer-api
	url = git@github.com:vanderbilt-design-studio/python-ultimaker-printer-api.git
    branch = master
